@import "tailwindcss";


/* DaisyUI plugin with custom themes */
@plugin "daisyui" {
  themes: retro --default, coffee --prefersdark;
}

/* Root layout */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

